<header>
    <div class="logo-box">
        <div class="app-logo">QM</div>
        <div class="app-name">QucickMeet</div>
    </div>
    <div class="nav">
        <div class="basics">
            <i class="fa fa-home" style="font-size:30px;color: black"></i>
            <a href="/" class="home" style="margin-left: -30px" target="_blank">Home</a>
            <a href="/" class="chat-room" target="_blank">Chat-Room</a>
        </div>

        <div class="register">
            <a href="/signup/" class="headerBtn signup " target="_blank">Sign Up</a>
            <a href="/login/" class="headerBtn login" target="_blank">Log In</a>
        </div>

        <div class="loggedBox" id="myForm">
            <img src="/img/man.png" alt="">
            <span></span>
            <i class="fa fa-chevron-circle-down dropdown" style="margin-left:10px; font-size:20px;"></i>
        </div>

    </div>
    <div class="logoutBox">
        <button class="logoutBoxBtn ">Profile</button>
        <button class="logoutBoxBtn logout">Logout</button>
    </div>

</header>